<ion-header>
  <ion-toolbar>
    <ion-title>
      Urls
    </ion-title>

    <ion-toggle slot="end" [enableOnOffLabels]="true" (ionChange)="click($event)"> Iframe</ion-toggle>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Log Client</ion-title>

    </ion-toolbar>

  </ion-header>

  <!-- <div id="container">
    launch (Banking Swift Test) <ion-router-link
      href="https://swiftweb-bankingswifttest.installprogram.eu/Swift.StateMachine/swiftlaunch/embeddedlauncher">here
    </ion-router-link> <br />
    launch (Banking Swift IQ2) <ion-router-link
      href="https://swiftweb-iq2qa2.installprogram.eu/Swift.StateMachine/swiftlaunch/embeddedlauncher">here
    </ion-router-link> <br />
    launch (Standalone Launcher) <ion-router-link
      href="https://swiftweb-iq2qa2.installprogram.eu/Swift.StateMachine/swiftlaunch/uilauncher">here</ion-router-link>
    <br />
    launch (Betway Staging) <ion-router-link href="https://staging-va.betway.com/?swiftsdk=true">here</ion-router-link>
    <br />
    launch (Betway AZ) <ion-router-link href="https://az.betway.com/sports/home?segment=usarizona">here
    </ion-router-link><br />
    launch (Atlantic Test) <ion-router-link
      href="https://swiftweb-atlantictest.installprogram.eu/Swift.StateMachine/swiftlaunch/embeddedlauncher">here
    </ion-router-link><br />
    launch (QC) <ion-router-link
      href="https://swiftweb-qualitycontrol.installprogram.eu/Swift.StateMachine/swiftlaunch/embeddedlauncher">here
    </ion-router-link><br />
  </div> -->


  <div id="container-firebase">
    <ion-list class="ios list-ios hydrated">


      <ion-item *ngFor="let url of Urls" class="url-list">
        <ion-label>

          <p>
            <ion-router-link href={{url.url}}>
              {{url.name}}
            </ion-router-link>
          </p>


        </ion-label>

        <br class=" item-note" item-end>
        <ion-button fill="clear" size="large" [routerLink]="['/edit/', url.$key]">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="large" (click)="deleteUrl(url.$key)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>

      </ion-item>

    </ion-list>
  </div>
</ion-content>