<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trustly Mobile Launcher</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container"> 
    launch (Banking Swift Test) <ion-router-link href="https://swiftweb-bankingswifttest.installprogram.eu/Swift.StateMachine/swiftlaunch/embeddedlauncher">here</ion-router-link> <br/>
    launch (Banking Swift Test) <ion-router-link href="https://swiftweb-iq2qa2.installprogram.eu/Swift.StateMachine/swiftlaunch/embeddedlauncher">here</ion-router-link>
  </div>
</ion-content>
